<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        
        <key>CFBundleIcons</key>
        <dict>
            <key>CFBundleAlternateIcons</key>
            <dict>
                <key>AppImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>AppIcon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>AppleImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>Apple Icon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>BlueImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>BlueIcon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>CatImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>CatIcon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>DragonImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>DragonIcon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>GalaxyImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>Galaxy Icon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>GreenImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>GreenICon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>SharkImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>SharkIcon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>TigerImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>TigerIcon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
                <key>VenomImage</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>VenomIcon</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
            </dict>
        </dict>
        <key>CFBundleIcons~ipad</key>
        <dict/>
        </dict>
</plist>
